FIREFLY_III_URL=http://firefly:8080
VANITY_URL=https://${FIREFLY_ENDPOINT_URL}
TRUSTED_PROXIES=*
TZ=Europe/Rome
APP_ENV=production
APP_DEBUG=false
LOG_CHANNEL=stack
FALLBACK_LOCALE=it_IT
CAN_POST_AUTOIMPORT=false
CAN_POST_FILES=false
