APP_ENV=production
APP_DEBUG=false
SITE_OWNER=<your_email>
APP_KEY=<exactly_32_random_characters>
DEFAULT_LANGUAGE=it_IT
DEFAULT_LOCALE=it_IT
TZ=Europe/Rome
TRUSTED_PROXIES=**
LOG_CHANNEL=stack
APP_LOG_LEVEL=notice
DB_CONNECTION=pgsql
DB_HOST=firefly-db
DB_PORT=5432
DB_DATABASE=firefly
DB_USERNAME=firefly
DB_PASSWORD=<same_as_POSTGRES_PASSWORD>
APP_URL=https://${FIREFLY_ENDPOINT_URL}
